<html>
  <head>
    <title>TB</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      src="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      href="../../public/assets/home.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@900&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bdy">
    <div id="homebody">
      <div class="homecss">
        <header class="shift">
          <div>
            <h1 id="wel">Welcome to the Discussion page</h1>
            <h2 id="serc">Search For Any queries</h2>
          </div>
          <div class="header-form" id="frm">
            <form action="/discussion/pages/1">
              <input
                type="text"
                name="search"
                class="insub"
                placeholder="Search"
              />
              <button type="submit" class="gh-button">Submit</button>
            </form>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>
